* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


/* !Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  background-color: #000000;
  border-radius: 10px;
  border-radius: 0;
  padding: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 0, 0);
  border-radius: 10px;
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.footer_logo{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
.footer_logo span{
  padding: 12px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: all .5s;
}
.footer_logo span:hover{
  background-color: #000000;
  color: white;

}

.GoToTop{
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 20px;
  border-radius: 50%;
  background-color: #ff0000a9;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.GoToTop img{
  height: 20px;
}
.GoToTop:hover{
  background-color: #ff0101;
  box-shadow: 3px 3px 15px #ff0101;
  color: white;
}

@media (max-width:768px){
  body{
    padding-top:100px;
  }
  footer{
    padding: 20px;
  }
}
